<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memos</title>
</head>

<body>
    <h1 style="text-align: center;">yuto_memo</h1>
    <div style="width: 70%;margin: 0px auto;">
        <hr />
        {% for memo in memos %}
        <div>
            <h3>{{ memo.title }}</h3>
            <div>{{ memo.text | truncatechars:100 }}</div>
            <div style="text-align: right;">
                <a href="{% url 'memos:detail' memo_id=memo.id %}">記事を読む</a>
            </div>
        </div>
        <hr />
        {% endfor %}
    </div>
</body>

</html>